body {
  font: 1em "Hoefler Text", Caslon, Mirza, Merriweather, "PT Serif", Georgia, serif;
  background-image: url("hexagon.jpg");
}
h1, h2, h5 {
  text-align: center;
}
header {
  border: 0.2em solid black;
  background-color: darkorange;
  color: black;
}
nav {
  border: 0.2em solid black;
  background-color: orange;
  color: black;
}
nav div {
  border: 0.1em solid black;
  display: inline-block;
  font-size: 0.8em;
  width: 20%;
  text-align: center;
}
nav div:hover {
  font-weight: bold;
}
article {
  border: 0.2em solid black;
  background-color: gold
  color: black;
}
