body {
  font: 1em "Hoefler Text", Caslon, Mirza, Merriweather, "PT Serif", Georgia, serif;
  background-color: yellow;
}
h1, h2, h5 {
  text-align: center;
}
header {
  border: 0.2em solid black;
  background-color: darkorange;
  color: black;
  margin: 1em;
}
nav {
  border: 0.2em solid black;
  background-color: orange;
  color: black;
  margin: 1em;
}
nav div {
  display: inline-block;
  font-size: 0.8em;
  width: 22%;
  text-align: center;
}
nav div:hover {
  font-weight: bold;
}
article {
  border: 0.2em solid black;
  background-color: gold
  color: black;
  margin: 1em;
}
article div {
  visibility: hidden;
}
